// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name{
  font-family: 'Poiret One', cursive;
  position: absolute;
  top:120px;
  left: 700px;
  margin: auto;
  color: #FFF7D2;
  font-size: 75px;
  padding:30px;
  border: 2px solid white;
}